

body:not(.menu-on-top).desktop-detected {
/*    min-height: 800px!important;*/
/*    background: url(http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background-5.jpg);*/
    background: url(/styles/img/glass.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.smart-style-5 .fc-border-separate thead tr, .smart-style-5 .table thead tr, .smart-style-5 aside#left-panel {
    margin-top: 49px;
    background: rgba(0,0,0,.43);
}

.smart-style-5.fixed-header #header {
    background: #404040 !important;

}

.product-content .product-image {
    background-color: #fff;
    display: block;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #D6D6D6 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #D6D6D6 !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #D6D6D6 !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #D6D6D6 !important;
}
textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #D6D6D6 !important;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #D6D6D6 !important;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #D6D6D6 !important;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #D6D6D6 !important;
}

#customheader-register {
    margin: 0;
    border-bottom: 1px solid #eee!important;
    overflow: hidden;
    color: #fff;
    padding: 0 30px;
    border-width: 0;
    background: url(http://education.themerex.net/wp-content/uploads/2015/03/blue.jpg);
    /*background: #a1a1a1;*/
    /*    background-size: cover;*/
    margin-bottom: -1px;
}

#pageheader-login {
    margin: 0;
    border-bottom: 1px solid #eee!important;
    height: 53px;
    color: #95918e;
    padding: 10px;
    border-width: 0;
    background: #2a2725;
    margin-bottom: 14px;
}

#pageheader {
    margin: 0;
    border-bottom: 3px solid #058472!important;
    height: 75px;
    color: #95918e;
    padding: 25px;
    border-width: 0;
    background: #ffffff;
    margin-bottom: 13px;
}

.pageheadertitle {
    letter-spacing: -1px;
    font-size: 26px;
    /* margin: 20px 0; */
    line-height: normal;
}

#verify-header {
    margin: 0;
    border-bottom: 1px solid #eee!important;
    overflow: hidden;
    color: #fff;
    padding: 0 30px;
    border-width: 0;
    background: url(http://www.cuadernalia.net/themes/Arclite/arclite-blue/img/header-noise-blue-center.jpg);
    background-size: cover;
    margin-bottom: 20px;
}

#login-page .fullpage {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    background: url(/styles/img/loginscreen.jpg) ;
        /*http://goecosystems.com/wp-content/uploads/2016/06/Damian-zaleski-hands-desk-swatch-type-keyboard.jpg*/
    /*background: #fff;*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#login-page .createacc {
    padding: 10px;
    font-size: 20px;
    text-align:center;
}

#login-page .createa {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 700;
    text-align:left;
}

.forgetacc {
    padding: 10px;
    font-size: 20px;
    text-align:center;
}

#login-page .login-form {
    width: 500px;
    margin: 0 auto;
}

#login-page .login-image {
    text-align: center;
    /*float: left;*/
}

#login-page body:not(.menu-on-top).desktop-detected {
    min-height: 90px!important;
}

#login-page .login-footer {
    min-height: 90px!important;
    background: #fff;
}

.register-fullpage {
    /*height: 100%;*/
    width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    background: url(/styles/img/registerscreen.jpg) ;
        /*http://goecosystems.com/wp-content/uploads/2016/06/Damian-zaleski-hands-desk-swatch-type-keyboard.jpg*/
    /*background: #fff;*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.forgot-fullpage {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    background: url(/styles/img/forgotscreen.jpg) ;
        /*http://goecosystems.com/wp-content/uploads/2016/06/Damian-zaleski-hands-desk-swatch-type-keyboard.jpg*/
    /*background: #fff;*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#extr-page .fullpage {
    min-height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    height: 100%;
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#extr-page .login-form {
    width: 470px;
    margin: 0 auto;
}

#extr-page .login-image {
    text-align: center;
    /*float: left;*/
}

