<aside id="left-panel" class=”fixed-navigation fixed-header fixed-ribbon>

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu >

            <li data-ui-sref-active="">
                <a data-ui-sref="app.dashboard" title="Dashboard">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{getWord('Dashboard')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.main.feed" title="feed">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{getWord('feed')}}</span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.main.timeline" title="timeline">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{getWord('timeline')}}</span></a>
            </li>


            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{getWord('Sales')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-building"></i>
                            {{getWord('Proforma Invoice')}}</a>
				                        <ul>
                                  <li data-ui-sref-active="active">
                                      <a data-ui-sref="app.sales.create-pinvoice">{{getWord('Add Proforma')}}</a>
                                  </li>
                                  <li data-ui-sref-active="active">
                                      <a data-ui-sref="app.sales.view-pinvoice">{{getWord('View Proformas')}}</a>
                                  </li>
                                  <li data-ui-sref-active="active">
                                      <a data-ui-sref="app.sales.confirm-pinvoice">{{getWord('Order Confirmation')}}</a>
                                  </li>
                                </ul>
					         </li>

                   <li data-ui-sref-active="active" data-menu-collapse>
                       <a href="#"><i class="fa fa-building"></i>
                           {{getWord('Invoice')}}</a>
                  </li>

				      </ul>


            </li>

			      <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{getWord('Purchase')}}</span></a>
                        <ul>

                                          <li data-ui-sref-active="active">
                                              <a data-ui-sref="app.purchase.create-po">{{getWord('Add Purchase Order')}}</a>
                                          </li>
                                          <li data-ui-sref-active="active">
                                              <a data-ui-sref="app.purchase.list-po">{{getWord('View Purchase Orders')}}</a>
                                          </li>
                                          <li data-ui-sref-active="active">
                                              <a data-ui-sref="app.purchase.gate-entry">{{getWord('Gate Entry')}}</a>
                                          </li>
                                          <li data-ui-sref-active="active">
                                              <a data-ui-sref="app.purchase.material-reciept">{{getWord('Material Reciept')}}</a>
                                          </li>
                                          <li data-ui-sref-active="active">
                                              <a data-ui-sref="app.purchase.status-po">{{getWord('Order Status')}}</a>
                                          </li>
                                          <li data-ui-sref-active="active">
                                              <a data-ui-sref="app.purchase.order-template-setup">{{getWord('Order Template Setup')}}</a>
                                          </li>
        				        </ul>
            </li>
            <li>
                <a data-ui-sref="app.appViews.blogDemo"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{getWord('Feed')}}</span></a>

            </li>

            <li>
                <a data-ui-sref="app.masters.inventory"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{getWord('Inventory')}}</span></a>

            </li>

			<li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">{{getWord('Masters')}}</span></a>
                <ul>
                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-building"></i>
                            {{getWord('Companies')}}</a>
				<ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.company-create">{{getWord('Add Company')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.company-view">{{getWord('View Companies')}}</a>
                    </li>
                </ul>
                    </li>
                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-cubes"></i>
                            {{getWord('Products')}}</a>

				<ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.product-create">{{getWord('Add Product')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.product-view">{{getWord('View Products')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.product-category">{{getWord('Category')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.product-type">{{getWord('Type')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.product-finish">{{getWord('Finish')}}</a>
                    </li>
                </ul>
                    </li>

					<li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
							{{getWord('HS Codes')}}</a>
				<ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.hscode-create">{{getWord('Add HS Code')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.hscode-view">{{getWord('View HS Codes')}}</a>
                    </li>
                </ul>
                    </li>

                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
							{{getWord('Customers')}}</a>
				<ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.customer-create">{{getWord('Add Customer')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.customer-view">{{getWord('View Customer')}}</a>
                    </li>
                </ul>
                    </li>

                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
							{{getWord('Vendors')}}</a>
				<ul>

                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.vendor-create">{{getWord('Add Vendor')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.vendor-view">{{getWord('View Vendors')}}</a>
                    </li>
					 <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.process">{{getWord('Process')}}</a>
                    </li>
                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
                            {{getWord('Process Rates')}}</a>
                    <ul>
                        <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.vendorprocessrate-create">{{getWord('Add Process Rates')}}</a>
                        </li>
                        <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.vendorprocessrate-view">{{getWord('View Process Rates')}}</a>
                        </li>
                    </ul>
                    </li>
                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
                            {{getWord('Item Rates')}}</a>
                    <ul>
                        <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.vendoritemrate-create">{{getWord('Add Item Rates')}}</a>
                        </li>
                        <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.vendoritemrate-view">{{getWord('View Item Rates')}}</a>
                        </li>
                    </ul>
                    </li>
                </ul>
                    </li>

                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
							{{getWord('Agent cum User')}}</a>
				<ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.agent-create">{{getWord('Add Agent')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.agent-view">{{getWord('View Agents')}}</a>
                    </li>
                </ul>
                    </li>

                    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-user"></i>
							{{getWord('Final Destination')}}</a>
				<ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.destination-create">{{getWord('Add Destination')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.destination-view">{{getWord('View Destinations')}}</a>
                    </li>
                </ul>
                    </li>


				    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-cube"></i>
							{{getWord('Shipping Line')}}</a>
				 <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.shippingline-create">{{getWord('Shipping Line Create')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.shippingline-view">{{getWord('View Shipping Lines')}}</a>
                    </li>
                </ul>
                    </li>

				    <li data-ui-sref-active="active" data-menu-collapse>
                        <a href="#"><i class="fa fa-cube"></i>
							{{getWord('Container')}}</a>
				 <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.container-setup">{{getWord('Container Setup')}}</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.container-item-capacity">{{getWord('Container Item Capacity')}}</a>
                    </li>
                </ul>
                    </li>

                    <li data-ui-sref-active="active" data-menu-collapse>
                                <a href="#"><i class="fa fa-cube"></i>
                      {{getWord('Freight')}}</a>
                    <ul>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.masters.sea-freight">{{getWord('Sea Freight')}}</a>
                            </li>
                            <li data-ui-sref-active="active">
                                <a data-ui-sref="app.masters.local-freight">{{getWord('Local Freight')}}</a>
                            </li>
                        </ul>
                    </li>

                    <li data-ui-sref-active="active" data-menu-collapse>
                                <a href="#"><i class="fa fa-cube"></i>
                      {{getWord('Ports')}}</a>
                    <ul>
                      <li data-ui-sref-active="active" >
                                    <a data-ui-sref="app.masters.sea-port"><i class="fa fa-cube"></i>
            							{{getWord('Sea Ports')}}</a>
                                </li>

            					<li data-ui-sref-active="active">
                                    <a data-ui-sref="app.masters.dry-port"><i class="fa fa-cube"></i>
            							{{getWord('Dry Ports')}}</a>
                                </li>
                        </ul>
                     </li>




					<li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.unit-code"><i class="fa fa-cube"></i>
							{{getWord('Unit Codes')}}</a>
                    </li>

					<li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.payment-term"><i class="fa fa-cube"></i>
							{{getWord('Payment Terms')}}</a>
                    </li>

					 <li data-ui-sref-active="active">
                        <a data-ui-sref="app.masters.country"><i class="fa fa-cube"></i>
							{{getWord('Countries')}}</a>
                    </li>

					 <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayout"><i class="fa fa-cube"></i>
							{{getWord('Payment')}}</a>
                    </li>


                </ul>
            </li>

				<li>
                <a  data-ui-sref="app.documents"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{getWord('Documents')}}</span></a>

				</li>

				<li>
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">{{getWord('Reports')}}</span></a>

				</li>

        <li data-menu-collapse>
            <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
                    class="menu-item-parent">{{getWord('Settings')}}</span></a>
            <ul>
              <li data-ui-sref-active="active">
                  <a data-ui-sref="app.settings.import-data">{{getWord('Import Data')}}</a>
              </li>
            </ul>


        </li>




        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
